<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/prj-rmi/src/client/EchoRMI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="client.EchoRMI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="localhost"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="prj-rmi"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-classpath Y:/Documents/workspace/prj-rmi/bin/ &#13;&#10;-Djava.rmi.server.codebase=file:///Y:/Documents/workspace/prj-rmi/bin/ &#13;&#10;-Djava.security.policy=file:///Y:/Documents/workspace/prj-rmi/java.policy"/>
</launchConfiguration>
